<div class="about-container">
  <div class="profile-container">
    <span class="name">Davier Perez Cabrera</span>

    <p class="profile">
      Desarrollador de Software con experiencia en aplicaciones web y arquitecturas de microservicios.
      Me enfoco en crear soluciones escalables y eficientes, manteniendo un código limpio y bien estructurado.
      Tengo experiencia trabajando con bases de datos relacionales y no relacionales, optimizando
      su rendimiento y contribuyendo a la estabilidad de las aplicaciones.
    </p>

    <app-contact-information></app-contact-information>
    <app-technologies></app-technologies>
  </div>
</div>
