.about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-container {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 5rem 10rem;
}

.name {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Book Antiqua", serif;
}

.profile {
  display: flex;
  justify-content: space-around;
  font-family: Arial, serif;
  margin-bottom: 25px;
}

.icons-technologies {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5%;
}

.icon {
  display: flex;
  padding: 3px;
  margin: 6px;
  cursor: pointer;
  width: 40px;
}
