<div class="about-container">
  <div class="profile-container">
    <span class="name">Davier Perez Cabrera</span>

    <p class="profile">
      Desarrollador de Software con sólida experiencia en el desarrollo de soluciones web y aplicaciones <br>
      basadas en microservicios. Poseo habilidades tanto en la creación de aplicaciones escalables y eficientes,<br>
      como en la gestión y optimización de bases de datos, tanto relacionales como no relacionales.<br>
    </p>

    <app-contact-information></app-contact-information>

    <div class="icons-technologies">
      @for (tech of technologies; track tech.name) {
        <img class="icon" src="{{tech.path}}" alt="{{tech.name}} icon" matTooltip="{{tech.name}}">
      }
    </div>
  </div>
</div>
