.list-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to right bottom, #276ea4, white);
  padding: 0 50px;
  position: fixed;
  width: 100%;
}

.header-title {
  display: flex;
  align-items: center;
  color: #393838;
}

.list {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.4rem;
  width: 55%;
}

.item-li {
  list-style: none;
}

.item {
  text-decoration: none;
  color: #605d5d;
  padding: 1rem;
}

.item:hover {
  color: black;
}

.activated {
  color: black;
  font-weight: 500;
}
