<div class="list-container">
  <ul class="list">
    <li class="item-li"><a [routerLink]="'/home'" class="item">
      <!--<span class="material-icons">location_on</span>-->
      Home</a></li>
    <li class="item-li"><a href="#" class="item">
      <!--<span class="material-icons">location_on</span>-->
      About me</a></li>
    <li class="item-li"><a href="#" class="item">
      <!--<span class="material-icons">location_on</span>-->
      Projects</a></li>
    <li class="item-li"><a href="#" class="item">
      <!--<span class="material-icons">location_on</span>-->
      Contact</a></li>
  </ul>
</div>
