<div class="projects">
  @for (project of projects; track project.projectName) {
    <div class="project-card">
      <img class="project-image" *ngIf="project.image" ngSrc="{{project.image}}" width="100" height="100" alt="">
      <p class="project-title">{{project.projectName}}</p>
      <p class="project-description">{{project.description}}</p>
      <div class="icons">
        @for(icon of project.technologiesIcons; track icon.name) {
          <img class="icon" ngSrc="{{icon.path}}" alt="{{icon.name}}" width="100" height="100">
        }
      </div>
      <div class="display-flex-row">
        <a
          *ngIf="project.repository"
          class="project-btn repo-btn"
          target="_blank"
          [href]="project.repository"
        >
          Repository
        </a>

        <a
          *ngIf="project.link"
          class="project-btn page-btn"
          target="_blank"
          [href]="project.link"
        >
          Live Demo
        </a>
      </div>
    </div>
  }
</div>
