<div class="projects">
  @for (project of projects; track project.projectName) {
    <mat-card class="project-card">
      <a class="link" target="_blank" href="{{project.repository}}">
        <h5 class="project-title">{{project.projectName}}</h5>
      </a>
      <div class="icons">
        @for(icon of project.technologiesIcons; track icon.name) {
          <img class="icon" src="{{icon.path}}" alt="{{icon.name}}">
        }
      </div>
      <div class="display-flex-row">
        <button mat-raised-button class="margin-5">
          <a target="_blank" class="link" href="{{project.repository}}">repository</a>
        </button>
        <button *ngIf="project.link" mat-raised-button class="margin-5">
          <a target="_blank" class="link" href="{{project.repository}}">page</a>
        </button>
      </div>
    </mat-card>
  }
</div>
