<div class="margin-top-35">
  <div class="buttons-item">
    <button
      mat-stroked-button
      disableRipple
      class="button-projects"
      [class.active]="selectedTag === TAG_BACKEND"
      (click)="displayProjects(TAG_BACKEND)"
    >
      Proyectos Backend
    </button>

    <button
      mat-stroked-button
      disableRipple
      class="button-projects"
      [class.active]="selectedTag === TAG_FRONTEND"
      (click)="displayProjects(TAG_FRONTEND)"
    >
      Proyectos Frontend
    </button>
  </div>
  <app-projects-cards [projects]="projects"></app-projects-cards>
</div>
