.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Book Antiqua", serif;
}

.profile-name {
  font-size: 1.3em;
  color: #3e3d3d;
  font-weight: bold;
  font-family: "Book Antiqua", serif;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding: 0 30px;
  font-family: Calibri, serif;
}

.icons-technologies {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  width: 40px;
}

.h2-title {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
