<div class="main-container">
  <div class="title-container">
    <span class="name">Davier Perez Cabrera</span>
    <span class="profile-name">Desarrollador de software</span>
  </div>

  <p class="profile">
    Desarrollador de software backend con experiencia en java, python y nodejs. <br>
    Apasionado por el aprendizaje continuo. Capacitado en APIs RESTful, microservicios y <br>
    bases de datos SQL/NoSQL. también cuento con conocimientos en front usando angularJs.<br>
  </p>

  <div class="icons-technologies">
      @for (tech of technologies; track tech.name) {
        <img class="icon" src="{{tech.path}}" alt="{{tech.name}} icon" matTooltip="{{tech.name}}">
      }
  </div>
  <div class="project-container">
    <h2 class="h2-title">Proyectos font end</h2>
    <app-projects-cards></app-projects-cards>
  </div>
  <div class="project-container">
    <h2 class="h2-title">Proyectos back end</h2>
    <app-projects-cards></app-projects-cards>
  </div>
</div>
