.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  font-size: 0.8rem;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #cccaca;
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
}
